* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    overflow-x: hidden;
}

main {
    display: flex;
    width: 100vw;
    height: 100vh;
    gap: 20px;
}

.left {
    padding-top: 50px;
    padding-left: 30px;
}


/* Liste des images non optimisées */

section.list-img-no-optimized {
    background-color: rgb(236, 62, 62);
    width: 60vw;
    height: 30vh;

    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 30px;
    padding: 30px;
    gap: 30px;
}

section.list-img-no-optimized div[class^=img] {
    border: 2px solid black;
    width: 300px;
    height: 150px;
    object-fit: cover;
    background-color: green;
    
}

/* Boîte d'optimisation */
section.optimization {
    /* width: 60vw; */
    /* height: 30vh; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 20px;
    margin-left: auto;

    padding: 30px;
    gap: 30px;
}

div.optimization-box {
    border: 10px solid black;
    color: white;
    background-color: rgb(75, 75, 189);
    width: 30vw;
    height: 40vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 30px;
    gap: 30px;
}

div.optimization-box button.optimize-btn {
    padding: 20px 40px;
    font-size: 1.2rem;
    border: 3px solid black;
}

div.optimization-box button.optimize-btn:hover {
    background-color: #d6d5d5;
    cursor: pointer;    
}

/* Loading de la partie de la box optimisée */
.optimization-box {
    width: 300px;
    height: 200px;
    border: 2px solid black;
    background-color: rgb(75,75,189);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 15px;
    position: relative; /* IMPORTANT pour position absolue interne */
}

.loading-optimization-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.loading-optimization {
    width: 100%;
    height: 30px;
    background-color: #ccc;      /* gris */
    border: 2px solid black;     /* encadré noir */
    border-radius: 5px;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;     /* barre à gauche */
}

.loading-bar {
    width: 0%;
    height: 30px;
    background-color: rgb(155, 243, 22);
    transition: width 2s linear;
}

.loading-optimization p {
    margin: 0;
    font-size: 0.8rem;
    color: white;
    text-align: center;
}


.one-little-box-optimized-wrapper {
    width: 500px; /* largeur fixe */
}

.one-little-box-optimized-wrapper h2 {
    margin-bottom: 10px;
}

.one-little-box-optimized {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    border: 2px dashed #999;
    background-color: #f5f5f5;
}


/* Images optimisées */
.optimized {
    width: 150px;          /* largeur fixe de l’image optimisée */
    height: 80px;          /* hauteur fixe */
    border: 2px solid black;
    background-color: lightgreen;
}


/* Sac */
div.list-bag {
    background-color: orange;
    width: 60vw;
    height: 30vh;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px dashed black;

    margin: 30px;
    padding: 30px;

    gap: 30px;
}


/* POP UP */
.pop-up {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    display: none;
}

.pop-up-content {
    padding: 30px;
}

.pop-up-win {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid black;
    padding: 20px;
    z-index: 1000;
}

p.button-to-collection {
    text-align: center;
    padding-top: 30px;
}

